repos:
  # Run ruff first because autofix behaviour is enabled
  - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
    rev: "0.1.6"
    hooks:
     - id: ruff-conda
     - id: ruff-format-conda
  - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
    rev: "1.7.1"
    hooks:
      - id: mypy-conda
        files: plateau
        additional_dependencies:
          - -c
          - conda-forge
          - types-setuptools
          - types-decorator
          - types-simplejson
          - hypothesis
          - numpy=1.26
          - minimalkv=1.4.2
  - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
    rev: 3.15.0
    hooks:
      - id: pyupgrade-conda
        args:
          - --py38-plus
  - repo: https://github.com/Quantco/pre-commit-mirrors-prettier
    rev: 3.1.0
    hooks:
      - id: prettier-conda
        files: "\\.md$"
  - repo: https://github.com/Quantco/pre-commit-mirrors-docformatter
    rev: 1.7.5
    hooks:
      - id: docformatter-conda
  - repo: https://github.com/Quantco/pre-commit-mirrors-pre-commit-hooks
    rev: 4.4.0
    hooks:
      - id: trailing-whitespace-conda
      - id: end-of-file-fixer-conda
