name: plateau
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python>=3.10
  - pip
  - dask>=2022.5.1 # First version with dask.dataframe.from_map.
  - decorator
  - msgpack-python>=0.5.2
  # Currently dask and numpy==1.16.0 clash
  # TODO: add support for numpy>=1.23
  - numpy!=1.15.0,!=1.16.0
  - pandas>=0.23.0,!=1.0.0
  - pyarrow>=4
  - simplejson
  - minimalkv>=1.4.2
  - toolz
  - urlquote>=1.1.3
  - zstandard
  - attrs
  - click
  - prompt-toolkit
  - pyyaml
  # Test Code Dependencies
  - distributed>=2022.5.1
  - pytz
  - cloudpickle
  - freezegun
  # Test Framework
  - hypothesis
  - pytest>=4.5.0
  - pytest-cov
  - pytest-mock
  - setuptools_scm>=8.1
  # GitHub CI
  - pandoc
  # CLI
  - ipython
  # ASV // Benchmark
  - asv
  # Packaging infrastructure
  - python-build
