[project]
name = "plateau"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "linux-aarch64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."

[dependencies]
python = ">=3.10"
dask = ">=2022.5.1,<2025"
decorator = "*"
msgpack-python = ">=0.5.2"
numpy = ">1.23,<2"
pandas = ">=2"
pyarrow = ">=15"
simplejson = "*"
minimalkv = ">=1.4.2"
toolz = "*"
urlquote = ">=1.1.3"
zstandard = "*"
attrs = "*"
click = "*"
prompt-toolkit = "*"
pyyaml = "*"


[host-dependencies]
pip = "*"
setuptools = ">=61"
setuptools-scm = "*"
wheel = "*"

[feature.test.dependencies]
pytest = ">=6"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = ">=3.6.1,<4"
freezegun = "*"
mypy = "*"
distributed = ">=2022.5.1,<2025"
pytz = "*"
cloudpickle = "*"
hypothesis = "*"
[feature.test.tasks]
test = "pytest"
test-coverage = "pytest --cov=plateau --cov-report=xml --cov-report=term-missing"

[feature.build.dependencies]
python-build = "*"
twine = "*"
[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."
check-wheel = "twine check dist/*"

[feature.lint.dependencies]
pre-commit = "*"
insert-license-header = "*"
docformatter = "*"
ruff = "*"
prettier = "*"
taplo = "*"
pre-commit-hooks = "*"
typos = "*"
[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.benchmark.dependencies]
asv = "*"
libmambapy = "*"
conda = "*"

[feature.docs.dependencies]
sphinx = "*"
jinja2 = "<3.1"
sphinx_rtd_theme = "*"
IPython = "*"
[feature.docs.tasks]
# Run task `postinstall` before building docs in docs environment
docs = "cd docs && make html"
readthedocs = "rm -rf $READTHEDOCS_OUTPUT/html && cp -r docs/_build/html $READTHEDOCS_OUTPUT/html"


[feature.py310.dependencies]
python = "3.10.*"
[feature.py311.dependencies]
python = "3.11.*"
[feature.py312.dependencies]
python = "3.12.*"

# We only support the four most recent versions of pyarrow
[feature.pyarrow15_0_2.dependencies]
pyarrow = "=15.0.2"
[feature.pyarrow16_1.dependencies]
pyarrow = "=16.1.0"
[feature.pyarrow17_0.dependencies]
pyarrow = "=17.0.0"
[feature.pyarrow18_1.dependencies]
pyarrow = "=18.1.0"

[environments]
default = ["test"]

py310-pyarrow15-0-2 = ["py310", "pyarrow15_0_2", "test"]
py310-pyarrow16-1 = ["py310", "pyarrow16_1", "test"]
py310-pyarrow17-0 = ["py310", "pyarrow17_0", "test"]
py310-pyarrow18-1 = ["py310", "pyarrow18_1", "test"]

py311-pyarrow15-0-2 = ["py311", "pyarrow15_0_2", "test"]
py311-pyarrow16-1 = ["py311", "pyarrow16_1", "test"]
py311-pyarrow17-0 = ["py311", "pyarrow17_0", "test"]
py311-pyarrow18-1 = ["py311", "pyarrow18_1", "test"]

py312-pyarrow15-0-2 = ["py312", "pyarrow15_0_2", "test"]
py312-pyarrow16-1 = ["py312", "pyarrow16_1", "test"]
py312-pyarrow17-0 = ["py312", "pyarrow17_0", "test"]
py312-pyarrow18-1 = ["py312", "pyarrow18_1", "test"]

build = ["build"]
benchmark = ["benchmark", "test"]
docs = ["docs", "test"]
lint = { features = ["lint"], no-default-feature = true }
