name: CI

on:
  pull_request:
  push:
    branches:
      - "main"
      - "pre-commit-autoupdate"
      - "update-pixi"
    tags:
      - "*"
  schedule:
    # daily (`@daily` not supported, see
    # https://docs.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events )
    #
    # Runs on default/base branch (see
    # https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule )
    - cron: "0 0 * * *"

jobs:
  pre-commit:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@b1ab8f237b57292b58384631d89ce0b0863766bc # v0.8.13
        with:
          environments: default lint
      - name: pre-commit
        run: pixi run pre-commit-run --color=always --show-diff-on-failure

  tests:
    strategy:
      fail-fast: false
      matrix:
        environment:
          [
            "py310-pyarrow15-0-2",
            "py310-pyarrow16-1",
            "py310-pyarrow17-0",
            "py310-pyarrow18-1",
            "py311-pyarrow15-0-2",
            "py311-pyarrow16-1",
            "py311-pyarrow17-0",
            "py311-pyarrow18-1",
            "py312-pyarrow15-0-2",
            "py312-pyarrow16-1",
            "py312-pyarrow17-0",
            "py312-pyarrow18-1",
          ]

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@b1ab8f237b57292b58384631d89ce0b0863766bc # v0.8.13
        with:
          environments: ${{ matrix.environment }} # References the environments defined in pixi.toml
      - name: Install repository
        run: pixi run -e ${{ matrix.environment }} postinstall

      - name: Pytest
        run: pixi run -e ${{ matrix.environment }}  test-coverage -n auto

      - name: Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          file: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          name: pytest-${{ matrix.environment }}
      - name: Issue on failure
        uses: actions/github-script@v7
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] Daily run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "Daily run failure",
                  body: "The daily unit tests failed. See https://github.com/data-engineering-collective/plateau/actions/runs/${{github.run_id}} for details.",
                  assignees: ["fjetter"],
                  labels: ["[bot] Daily run"]
                })
              }
            });
